# Core ML
numpy==1.26.4
nltk==3.8.1
underthesea==9.2.11
gensim==4.3.3
matplotlib==3.9.4
scikit-learn==1.6.1
pillow==11.3.0
tensorflow==2.20.0
sacrebleu==2.4.0
pandas==2.0.3

# Dev tools
black==24.10.0
flake8==7.1.1
isort==5.13.2
pylint==3.3.1